* {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
.container {
    margin:0 auto;
    padding: 0 5%;
}

    /*header*/
header {
    background-color:#085070;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    padding: 17px  0 18px;
}

/* section 1*/
#banner img {
    width: 100%;
}
/* section 2*/
.puppy-container img {
    width: 100%;
    padding: 5% 0;
}
.middle-puppy {
    display: none;
}
/* section 3*/
.section-title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding: 5% 0;
}
.vertical-puppies-wrapper img {
    width: 100%;
    margin: 5% 0;
}
/*footer*/
footer {
    background-color: #085070;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    padding: 30px 0 40px;
    margin: 5% 0 0;
}
@media (min-width: 768px) {
    /* .container {
        width: 768px;
    } */
    .puppy-container {
        width: 30%;
        padding-bottom: 0%;
    }
    .top-container .container {
        display: flex;
        
    }
    .middle-container {
        background-color: #f04d65;
        margin: 2% 1% 2%;
    }
    .middle-puppy {
    display: block;
    padding: 45px 50px 45px;
    font-size: 44px;
    text-align: center;
    }
    .vertical-puppies-wrapper {
    display: flex;
    }
    .vertical-puppies-left {
        margin-right: 20px;
    }
    .vertical-puppies-right {
        margin-left: 20px;
    }
}



