*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

.blueBG{
    background-color: #195774;
    color: #fff;
    text-align: center;
}

header{
    padding: 30px;
    font-size: 1.5rem;
}

.puppies{
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 50px auto;
}

/* .banner{
    background-color: #28ed16;
}
.three-puppies{
    background-color: rgb(76, 12, 237);
}
.two-puppies{
    background-color: #e31414;
} */

.missing{
    width: 310px;
    height: 310px;
    background-color: #EE4D65;

    display: flex;
    justify-content: center;
    align-items: center;
}
.missing p{
    text-align: center;
    font-size: 60px;
}

.more-text{
    text-align: center;
    font-size: 1.5rem;
}

footer{
    padding: 30px;
    font-size: 1.5rem;
}