/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 420px;
  border: 3px solid black;
}

/* ---------------- NAVBAR ---------------- */

.navbar {
  background: #ff8224;

  display: flex;

  flex-direction: column;

  gap: 12px;

  padding: 20px;
}

.navbar a {
  text-decoration: none;

  color: black;

  border: 4px solid #0d9de0;

  text-align: center;

  padding: 10px;

  font-weight: bold;
}

/* ---------------- TITLE ---------------- */

.title {
  width: 80%;

  margin: 20px auto;

  text-align: center;

  border: 4px solid pink;

  padding: 10px;

  font-weight: bold;
}

/* ---------------- CONTENT ---------------- */

.content {
  background: #ffc514;

  padding: 10px;

  display: flex;

  flex-direction: column;

  gap: 10px;
}

/* Left */

.left {
  display: flex;

  flex-direction: column;

  gap: 10px;
}

.green {
  height: 180px;

  background: #b8f400;

  border: 6px solid white;
}

/* Right */

.right {
  display: flex;

  flex-direction: column;

  gap: 10px;
}

.top {
  background: white;

  border: 6px solid lightgray;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 15px;
}

.tall {
  width: 120px;

  height: 180px;
}

.bottom {
  background: white;

  border: 6px solid lightgray;

  display: flex;

  gap: 10px;

  padding: 10px;
}

.gray {
  flex: 1;

  height: 160px;

  background: #c9c9c9;
}

/* ---------------- FOOTER ---------------- */

footer {
  background: #9ed7e7;

  padding: 15px;

  display: flex;

  flex-direction: column;

  gap: 20px;
}

.contact,
.address {
  border: 4px solid red;

  padding: 10px;

  width: 180px;
}

/* =======================================================
                    DESKTOP
======================================================= */

@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  /* Navbar */

  .navbar {
    flex-direction: row;

    justify-content: center;

    gap: 20px;
  }

  .navbar a {
    width: 140px;
  }

  /* Main */

  .content {
    flex-direction: row;
  }

  /* Left */

  .left {
    width: 50%;
  }

  /* Right */

  .right {
    width: 50%;
  }

  /* Make left boxes fill the height */

  .green {
    height: 185px;
  }

  /* Top Gray */

  .tall {
    width: 120px;

    height: 170px;
  }

  /* Bottom Grays */

  .bottom .gray {
    height: 150px;
  }

  /* Footer */

  footer {
    flex-direction: row;

    justify-content: space-between;

    align-items: flex-start;
  }
}
