* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  width: 960px;
  padding: 0 10%;
} */
main {
  padding: 0 4px;
  border: 2px solid #000;
}
/* Header style */
.header-links-wrapper ul {
  background-color: #ed1c24;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px 10px 20px;
  margin-bottom: 20px;
  border: 4px solid #000;
}
.header-links-wrapper ul li {
  /* padding: 10px  20px; */
  border: 3px solid #000;
  padding: 5px 30px;
}

.header-links-wrapper ul li a {
  text-decoration: none;
}
.how {
  display: none;
}

/* section 1 */
.section-1 {
  display: none;
}

/* section 2 rightSide */
.right-upper {
  background-color: #b5e61d;
  width: 250px;
  height: 150px;
  border: 4px solid #000;
}
.right-lower {
  background-color: #b5e61d;
  width: 250px;
  height: 150px;
  border: 4px solid #000;
}
.rightSide-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #ffc90e;
  padding: 10px;
  border: 4px solid #000;
}
/* section 2 leftSide */
.leftSide-wrapper {
  border: 4px solid #000;
  width: 300px;
  margin: 20px 0px;
  padding: 20px;
  display: flex;
}
.left-upper {
  width: 250px;
  height: 250px;
  background-color: #c3c3c3;
  border: 4px solid #000;
}
/* .left-lower {
  width: 250px;
  height: 150px;
  background-color: #c3c3c3;
  border: 4px solid #000;
} */

/* footer */
footer{
  background-color: #99D9EA;
  border: 4px solid #000;
}
.address{
  display: none;
}
.contact-no{
  padding: 10px 50px;
}
p{
  display: inline-block;
  vertical-align: top;
}
.contact-no ul{
  display: inline-block;
  list-style: none;
}
